<!DOCTYPE html>
<section>
    <div class="aboutus">
        <div class="para" data-aos="fade-up" duration="4000">
            <h1>ABOUT US</h1>
            <p>NAMELESS-THE STORYTELLER, we are a group of independent film-makers, musician. This group was created on 24th March ,2020. We have a Youtube channel and Facebook page. Anybody can connect with us through these pages. We are a group of self-taught
                actors, directors, editors and musicians. The main center of this production is in Konnagar. We give opportunities to any kind of talents like - acting, direction, singing etc. To see more creation like these, stay connected. Generally,
                we do - </p>
        </div>
        <div class="card-box" data-aos="fade-up" duration="4000">
            <div class="image">
                <img src="assets/img/about us/CARD 1.png" alt="" width="16%" data-aos="fade-up" duration="2000">



                <img src="assets/img/about us/CARD 3.png" alt="" width="16.8%" data-aos="fade-up" duration="2000">



                <img src="assets/img/about us/CARD 2.png" alt="" width="16%" data-aos="fade-up" duration="2000">

            </div>
        </div>

        <div class="achievement">
            <h1>ACHIEVEMENT</h1>
            <div class="photo" data-aos="fade-up" duration="4000">
                <div class="image1">
                    <img src="assets/img/about us/laurel 1.png" alt="" width="150px" height="150px">

                </div>
                <div class="image1">
                    <img src="assets/img/about us/laurel 2.jpg" alt="" width="150px" height="150px">

                </div>
                <div class="image1">
                    <img src="assets/img/about us/laurel 3.png" alt="" width="150px" height="150px">

                </div>
                <div class="image1">
                    <img src="assets/img/about us/laurel 4.png" alt="" width="150px" height="150px">

                </div>
                <!-- <div class="image1">
                <img src="20210723_142315.jpg" alt="" width="150px" height="150px">

            </div> -->
            </div>
        </div>
    </div>
</section>