<!DOCTYPE html>
<section>
    <div class="aboutus">
        <div class="para" data-aos="fade-up" duration="4000">
            <h1>ABOUT US</h1>
            <p>{{aboutUsData}}</p>
        </div>
        <div class="card-box" data-aos="fade-up" duration="4000">
            <div class="image">
                <img *ngFor="let imgData of aboutUsImgData"  src="{{imgData}}" alt="" width="16%" data-aos="fade-up" duration="2000">
            </div>
        </div>

        <div class="achievement">
            <h1>ACHIEVEMENT</h1>
            <div class="photo" data-aos="fade-up" duration="4000">
                <div class="image1" *ngFor="let achievement of achievementsData">
                    <img src="{{achievement}}" alt="" width="150px" height="150px">
                </div>
            </div>
        </div>
    </div>
</section>