<!DOCTYPE html>
<section>
    <div class="container text-center">
        <div class="works" data-aos="fade-up" duration="4000">
            <h1>OUR WORKS

            </h1>



            <p>As you already know that we make short films, music videos, audio stories in our Youtube channel and Facebook page. Mostly we have made films in bengali. Most of them are original.Some of our works are adapted from bengali literature. We also
                have done some original music videos, sung by our own singer. Here is the list of our all works- </p>

            <div class="shortfilm">
                <h2>Short Films</h2>

            </div>
        </div>

        <div class="shortfilm" data-aos="fade-up" duration="3000" data-aos-offset="200">

            <div class="container-card">
                <div class="image"><img id="img1" src="assets/img/Short film/diary.jpg" alt="" width="100%"></div>
                <div class="middle1">
                    <p>GENRE : <b>SUSPENSE</b></p>
                    <p>It's a murder mistery between five friends. Only friendship or anything else. Let's see.</p>
                    <a class="btn btn-danger" href="https://www.youtube.com/watch?v=CBJxict-f1E&t=771s" target="blank">Watch Now</a>
                </div>
            </div>

            <div class="container-card">
                <div class="image"><img id="img2" src="assets/img/Short film/daak.jpg" alt="" width="100%"></div>
                <div class="middle1">
                    <p>GENRE : <b>SUSPENSE</b></p>
                    <p>Its a suspense story of a doctor who is in a trouble with his patient.</p>
                    <a class="btn btn-danger" href="https://www.youtube.com/watch?v=CBJxict-f1E&t=771s" target="blank">Watch Now</a>
                </div>
            </div>

            <div class="container-card">
                <div class="image"><img id="img3" src="assets/img/Short film/boroda o bohurupi.jpg" alt="" width="100%"></div>
                <div class="middle1">
                    <p>GENRE : <b>SUSPENSE</b></p>
                    <p>This is a short suspense story adapted from famous bengali story "Boroda o Bohurupi".</p>
                    <a class="btn btn-danger" href="https://www.youtube.com/watch?v=nWL4_gIT448&t=329s" target="blank">Watch Now</a>
                </div>
            </div>

            <div class="container-card">
                <div class="image"><img id="img4" src="assets/img/Short film/seven.jpg" alt="" width="100%"></div>
                <div class="middle1">
                    <p>GENRE : <b>THRILLER</b></p>
                    <p>It's a story of a serial killer, who have already killed many persons. Let's see.</p>
                    <a class="btn btn-danger" href="https://www.youtube.com/watch?v=nWL4_gIT448&t=329s" target="blank">Watch Now</a>
                </div>
            </div>
            <div class="container-card">
                <div class="image"> <img id="img5" src="assets/img/Short film/ebar jobdo.png" alt="" width="100%"></div>
                <div class="middle1">
                    <p>GENRE : <b>COMEDY</b></p>

                    <p>It's a comedy story where a group of boys give lesson to a naughty boy.</p>
                    <a class="btn btn-danger" href="https://www.youtube.com/watch?v=xiITwLxtzEg&t=539s" target="blank">Watch Now</a>
                </div>
            </div>

            <div class="container-card">
                <div class="image"><img id="img6" src="assets/img/Short film/nepotism.jpg" alt="" width="100%"></div>
                <div class="middle1">

                    <p>GENRE : <b>SOCIAL</b></p>
                    <p>This film is about a struggling poet who is a victim of nepotism. </p>
                    <a class="btn btn-danger" href="https://www.youtube.com/watch?v=OPM0VvnadNs&t=747s" target="blank">Watch Now</a>
                </div>
            </div>

            <div class="container-card">
                <div class="image"><img id="img7" src="assets/img/Short film/nirontor protikhha.jpg" alt="" width="100%"></div>
                <div class="middle1">
                    <p>GENRE : <b>SUSPENSE</b></p>
                    <p>This film about a guy, who is waiting for his frined, who is returning home after a lot of time.</p>
                    <a class="btn btn-danger" href="https://www.youtube.com/watch?v=bCFy3_vSKrY&t=63s" target="blank">Watch Now</a>
                </div>
            </div>

            <div class="container-card">
                <div class="image"><img id="img8" src="assets/img/Short film/upolobdhi.png" alt="" width="100%"></div>
                <div class="middle1">
                    <p>GENRE :<b>SOCIAL</b></p>
                    <p>It's a short social drama.The story is about a lonely girl returning home at late night, met a suspicious guy</p>
                    <a class="btn btn-danger" href="https://www.youtube.com/watch?v=8nT0XxwMkmA&t=355s" target="blank">Watch Now</a>
                </div>
            </div>

            <div class="container-card">
                <div class="image"><img id="img9" src="assets/img/Short film/video call.png" alt="" width="100%"></div>
                <div class="middle1">
                    <p>GENRE : <b>SUSPENSE</b></p>
                    <p>It's a short story of two old friends.In this film we can see that in which way their relationship is going.</p>
                    <a class="btn btn-danger" href="https://www.youtube.com/watch?v=pOn9oxHs6YU&t=37s" target="blank">Watch Now</a>
                </div>
            </div>

            <div class="container-card">
                <div class="image"><img id="img10" src="assets/img/Short film/darr.jpg" alt="" width="100%"></div>
                <div class="middle1">
                    <p>GENRE : <b>SUSPENSE</b></p>
                    <p>It's a story about a lonely guy, who is a thriller writer.There are some horror incident happening in his house. </p>
                    <a class="btn btn-danger" href="https://www.youtube.com/watch?v=RPBEmJWz5HI&t=445s" target="blank">Watch Now</a>
                </div>

            </div>
        </div>
    </div>


    <!-- music video -->
    <div class="my-auto container text-center">
        <h2>Music Videos</h2>

    </div>
    <div class="container mb-10">
        <div class="row justify-content-center" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box-card">
                <div class="hovereffect">
                    <img class="img-responsive" src="assets/img/music video/hete cholar gan.jpg" alt="">
                    <div class="overlay">

                        <p>SONG : <b>HETE CHOLAR GAAN</b></p>
                        <p>SINGER : <b>BUDHADITYA MUKHERJEE</b></p>
                        <a class="info" href="https://www.youtube.com/watch?v=EOrrFk2yrlc" target="blank">Watch Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box-card">
                <div class="hovereffect">
                    <img class="img-responsive" src="assets/img/music video/aaj jane ki.jpg" alt="">
                    <div class="overlay">

                        <p>SONG : <b>AAJ JANE KI ZID NA KARO</b></p>
                        <p>SINGER : <b>ARIJIT SINGH</b></p>
                        <a class="info " href="https://www.youtube.com/watch?v=3LO82Uf1Z3M" target="blank">Watch Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box-card">
                <div class="hovereffect">
                    <img class="img-responsive" src="assets/img/music video/ashique teri.png" alt="">
                    <div class="overlay">
                        <p>SONG : <b>ASHIQUW TERI</b></p>
                        <p>SINGER : <b>SOMNATH MUKHERJEE</b></p>
                        <a class="info " href="https://www.youtube.com/watch?v=WaWFBKDx9YI" target="blank">Watch Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box-card">
                <div class="hovereffect">
                    <img class="img-responsive" src="assets/img/music video/sada golap.png" alt="">
                    <div class="overlay">

                        <p>SONG : <b>SADA GOLAP</b></p>
                        <p>SINGER : <b>SOMNATH MUKHERJEE</b></p>
                        <a class="info" href="https://www.youtube.com/watch?v=pesszXimUv4" target="blank">Watch Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="container text-center my-auto">
        <h2>Audio Stories</h2>

    </div>
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up" duration="2000" data-aos-offset="100">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box-img">
                <div class="hoveffect">
                    <img class="img-responsive rounded" src="assets/img/audio story/budhhir baire.jpg" alt="">
                    <div class="ovlay">

                        <p>STORY : <b>BUDHHIR BAIRE</b></p>
                        <p>WRITER : <b>NARAYAN GANGAPADHYAY</b></p>
                        <a class="info btn" href="https://www.youtube.com/watch?v=EQ_tNpnerP0&t=521s" target="blank">Watch Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box-img">
                <div class="hoveffect">
                    <img class="img-responsive rounded" src="assets/img/audio story/kaktarua.jpg" alt="">
                    <div class="ovlay">

                        <p>STORY : <b>KAKTARUA</b></p>
                        <p>WRITER : <b>SATYAJIT RAY</b></p>
                        <a class="info btn" href="https://www.youtube.com/watch?v=EkkVmyznudA" target="blank">Watch Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box-img">
                <div class="hoveffect">
                    <img class="img-responsive rounded" src="assets/img/audio story/rajar asukh.jpg" alt="">
                    <div class="ovlay">

                        <p>STORY : <b>RAJAR ASUKH</b></p>
                        <p>WRITER : <b>SUKUMAR RAY</b></p>
                        <a class="info btn" href="https://www.youtube.com/watch?v=rBjhKTmHC74" target="blank">Watch Now</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" data-aos="fade-up" duration="2000" data-aos-offset="100">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box-img">
                    <div class="hoveffect">
                        <img class="img-responsive rounded" src="assets/img/audio story/bhalobasa.jpg" alt="">
                        <div class="ovlay">

                            <p>STORY : <b>BHALOBASA</b></p>
                            <p>WRITER : <b>SADAT HUSSAIN</b></p>
                            <a class="info btn" href="https://www.youtube.com/watch?v=HxBr1JUeJaQ" target="blank">Watch Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container my-auto text-center">
        <h2>Trailers</h2>

    </div>


    <div class="container-fluid">
        <div class="row justify-content-center" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box-card">
                <div class="heffect">
                    <img class="img-responsive" src="assets/img/Short film/diary.jpg" alt="">
                    <div class="olay">

                        <p>

                            <a href="https://www.facebook.com/114503343519171/videos/347305463531542" target="blank">WATCH NOW</a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box-card">
                <div class="heffect">
                    <img class="img-responsive" src="assets/img/Short film/boroda o bohurupi.jpg " alt="">
                    <div class="olay">

                        <p>
                            <a href="https://www.facebook.com/114503343519171/videos/615060372508866" target="blank">WATCH NOW</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box-card">
                <div class="heffect">
                    <img class="img-responsive" src="assets/img/Short film/nepotism.jpg" alt="">
                    <div class="olay">

                        <p>
                            <a href="https://www.facebook.com/114503343519171/videos/977094066145373" target="blank">WATCH NOW</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="container-fluid text-center">
        <div class="works">


            <div class="shortfilm">
                <h2>Upcoming Films</h2>

            </div>
        </div>

        <div class="shortfilm" data-aos="fade-up" duration="3000" data-aos-offset="200">

            <div class="container-card">
                <div class="image"><img id="img11" src="assets/img/Short film/kolomer fake.png" alt="" width="100%"></div>
                <div class="middle1">
                    <p>GENRE : <b>SOCIO POLITICAL DRAMA</b></p>
                    <p>It's a conversion of a failure poet and a poor drunk person about their views on society.</p>
                    <a class="btn btn-danger" href="https://www.youtube.com/c/Nameless2020" target="blank">Watch Now</a>
                </div>
            </div>


        </div>
    </div>

</section>