<!DOCTYPE html>
<section>
    <div class="container">
        <div class="ourteam">
            <h1>OUR TEAM</h1>
            <div class="team" data-aos="fade-up" duration="2000" data-aos-offset="200">


                <div class="member">
                    <div class="founder">

                        <div class="container-box">
                            <div class="image"><img id="img1" src="assets/img/Members/sayan.jpg" alt="" width="100%"></div>
                            <div class="middle1">
                                <div>SAYAN DEY</div>
                                <div><b>FOUNDER,EDITOR</b></div>
                                <div><b>ACTOR,DIRECTOR</b></div>
                            </div>
                        </div>
                    </div>

                    <div class="container-box">
                        <div class="image"><img src="assets/img/Members/subhajit.jpg" class="img" alt="" width="100%"></div>
                        <div class="middle1">
                            <div>SUBHAJIT ADHYA</div>
                            <div><b>ACTOR,WRITER</b></div>
                        </div>
                    </div>
                    <div class="container-box">
                        <div class="image"><img src="assets/img/Members/budha.JPG" class="img" alt="" width="100%"></div>
                        <div class="middle1">
                            <div>BUDHADITYA MUKHERJEE</div>
                            <div><b>MUSICIAN,ACTOR</b></div>
                        </div>
                    </div>
                    <div class="container-box">
                        <div class="image"><img src="assets/img/Members/tuhin.jpg" class="img" alt="" width="100%"></div>
                        <div class="middle1">
                            <div>TUHIN MUKHERJEE</div>
                            <div><b>WRITER,ACTOR</b></div>
                        </div>
                    </div>
                    <div class="container-box">
                        <div class="image"><img src="assets/img/Members/tanay.jpg" class="img" alt="" width="100%"></div>
                        <div class="middle1">
                            <div>TANAY MUKHERJEE</div>
                            <div><b>DIRECTOR</b></div>
                        </div>
                    </div>
                    <div class="container-box">
                        <div class="image"><img src="assets/img/Members/anushi.jpg" class="img" alt="" width="100%"></div>
                        <div class="middle1">
                            <div>ANUSHI DEY</div>
                            <div><b>ACTRESS</b></div>
                        </div>
                    </div>

                    <div class="container-box">
                        <div class="image"><img src="assets/img/Members/priyas.jpg" class="img" alt="" width="100%"></div>
                        <div class="middle1">
                            <div>PRIYAS DEB</div>
                            <div><b>ACTOR</b></div>
                        </div>
                    </div>
                    <div class="container-box">
                        <div class="image"><img src="assets/img/Members/ankan.jpg" class="img" alt="" width="100%"></div>
                        <div class="middle1">
                            <div>ANKAN BHATTACHARJEE</div>
                            <div><b>CAMERA,DOP</b></div>
                        </div>
                    </div>

                    <div class="container-box">
                        <div class="image"><img src="assets/img/Members/ria.jpg" class="img" alt="" width="100%"></div>
                        <div class="middle1">
                            <div>RIA DAS</div>
                            <div><b>ACTRESS</b></div>
                        </div>
                    </div>
                    <div class="container-box">
                        <div class="image"><img src="assets/img/Members/shubham.jpg" class="img" alt="" width="100%"></div>
                        <div class="middle1">
                            <div>SHUBHAM GANGULY</div>
                            <div><b>ACTOR</b></div>
                        </div>
                    </div>
                    <div class="container-box">
                        <div class="image"><img src="assets/img/Members/somnath.jpg" class="img" alt="" width="100%"></div>
                        <div class="middle1">
                            <div>SOMNATH MUKHERJEE</div>
                            <div><b>MUSICIAN</b></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <div class="container text-center">

        <div class="heading">
            <h2>
                Web Developers
            </h2>
        </div>
    </div>
    <div class="container">

        <div class="row justify-content-center" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box">
                <div class="hovereffect">
                    <img class="img-responsive" src="assets/img/Members/tanay.jpg" alt="" width="200">
                    <div class="overlay">
                        <h2>TANAY MUKHOPADHYAY</h2>

                        <p class="icon-links">
                            <a href="https://www.linkedin.com/in/tanay-mukhopadhyay-464525121/" target="blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="https://www.facebook.com/tanay.mukhopadhyay" target="blank">
                                <span class="fab fa-facebook"></span>
                            </a>
                            <!-- <a href="#">
                                <span class="fab fa-instagram"></span>
                            </a> -->
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box">
                <div class="hovereffect">
                    <img class="img-responsive" src="assets/img/Members/swita.jpg" alt="">
                    <div class="overlay" text-center>
                        <h2>SWITA SHAW</h2>
                        <p class="icon-links">
                            <a href="https://www.linkedin.com/in/swita-shaw-b46a871b5/" target="blank">
                                <span class="fab fa-linkedin"></span>
                            </a>
                            <a href="https://www.facebook.com/profile.php?id=100068790460825" target="blank">
                                <span class="fab fa-facebook"></span>
                            </a>
                            <!-- <a href="#">
                                <span class="fab fa-instagram"></span>
                            </a> -->
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box">
                <div class="hovereffect">
                    <img class="img-responsive" src="assets/img/Members/sayan.jpg" alt="">
                    <div class="overlay">
                        <h2>SAYAN DEY</h2>
                        <p class="icon-links">
                            <a href="https://www.linkedin.com/in/sayan-dey-624770212/" target="blank">
                                <span class="fab fa-linkedin"></span>
                            </a>
                            <a href="https://www.facebook.com/profile.php?id=100048758451159" target="blank">
                                <span class="fab fa-facebook"></span>
                            </a>
                            <!-- <a href="#">
                                <span class="fab fa-instagram"></span>
                            </a> -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>