<!DOCTYPE html>
<section>
    <div class="container">
        <div class="ourteam">
            <h1>OUR TEAM</h1>
            <div class="team" data-aos="fade-up" duration="2000" data-aos-offset="200">
                <div class="member">
                    <div class="founder">
                        <div class="container-box" *ngFor="let founder of founders">
                            <div class="image"><img id="img1" src="{{founder.imgUrl}}" alt="" width="100%"></div>
                            <div class="middle1">
                                <div>{{founder.fullName}}</div>
                                <div><b>{{founder.role}}</b></div>
                            </div>
                        </div>
                    </div>
                    <div class="container-box" *ngFor="let other of others">
                        <div class="image"><img src="{{other.imgUrl}}" class="img" alt="" width="100%"></div>
                        <div class="middle1">
                            <div>{{other.fullName}}</div>
                            <div><b>{{other.role}}</b></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="heading"><h2>Web Developers</h2></div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box" *ngFor="let develop of technicals">
                <div class="hovereffect">
                    <img class="img-responsive" src="{{develop.imgUrl}}" alt="" width="200">
                    <div class="overlay">
                        <h2>{{develop.fullName}}</h2>

                        <p class="icon-links">
                            <a href="#" target="blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="#" target="blank">
                                <span class="fab fa-facebook"></span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>