* {
    padding: 0;
    margin: 0;
}

.myactive {
    text-decoration: underline 3px;
    font-weight: bold;
}

.nav-item {
    padding-right: 10px !important;
    margin-right: 10px;
    font-size: 12px;
}

.nav-item:hover {
    font-weight: bold;
}

.navbar {
    background-image: linear-gradient(to right, #ffc72dec, #FFEA64) !important;
    padding: 5px;
    box-shadow: 15px 0px 10px grey;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.button {
    margin-left: 30px;
    padding: 5px;
}

.button button {
    margin-left: 10px;
    padding: 5px;
    align-items: center;
    text-align: center;
}

.fa-facebook {
    color: #4267B2;
    font-size: 20px;
}

.fa-facebook:hover {
    transform: scale(1.1);
}

.fab {
    margin-right: 10px;
}

.fa-youtube {
    color: red;
    font-size: 20px;
}

.fa-youtube:hover {
    transform: scale(1.1);
}

.button .buttons {
    width: 60px;
}

img {
    margin-right: 10px;
}

.navbar-brand {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 20px;
    display: flex;
    font-weight: bolder;
}

#nav-text {
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 15px;
    font-weight: bold;
}

.container-box,
.container-box-fluid,
.container-box-lg,
.container-box-md,
.container-box-sm,
.container-box-xl,
.container-box-xxl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.w3-display-middle {
    position: absolute;
    top: 70%;
    left: 30%;
    margin: 10px!important;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.w3-blue,
.w3-hover-blue:hover {
    color: #fff!important;
    background-color: #2196F3!important;
    margin: 20px;
}