@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-y: none;
}

section {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(255, 250, 158, 0.281);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-box {
    width: 70%;
    background: rgb(32, 32, 32);
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.336);
}

.container-box .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-box .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #ffc400;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.container-box .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #ffc400;
}

p {
    color: white;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #ffc400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container-box h1 {
    color: white !important;
}

.button input[type="button"]:hover {
    background: #ffc400;
}

.check-box {
    position: relative;
    right: 314px;
    height: 19px !important;
    margin-top: 14px;
    cursor: pointer;
}

.check-box-label {
    position: relative;
    bottom: 28px;
    left: 27px;
}

@media (max-width: 950px) {
    .container-box {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }
    .container-box .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .container-box {
        margin: 40px 0;
        height: 100%;
    }
    .container-box .content {
        flex-direction: column-reverse;
    }
    .container-box .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container-box .content .left-side::before {
        display: none;
    }
    .container-box .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}