<!DOCTYPE html>
<section>

    <div class="container-box">
        <h1>Contact Us</h1>
        <div class="content">
            <div class="left-side">
                <div class="address details">
                    <!-- <i class="fas fa-address-card"></i> -->
                    <div class="topic">Address</div>
                    <div class="text-one">Nabagram, Hooghly</div>
                    <div class="text-two"> pin: 712246</div>
                </div>
                <!-- <div class="phone details">
                    <i class="fas fa-phone"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">+0098 9893 5647</div>
                    <div class="text-two">+0096 3434 5678</div>
                </div>  -->
                <div class="email details">
                    <!-- <i class="fas fa-envelope"></i> -->
                    <div class="topic">Email</div>
                    <div class="text-one">namelessgroup2020@gmail.com</div>

                </div>
            </div>
            <div class="right-side">
                <div class="topic-text">Send us a message</div>
                <p>If you have any feedback or any types of quries related to our team, you can send us message from here. It'll be our pleasure.</p>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Enter your name">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Enter your email">
                    </div>
                    <div class="input-box message-box">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Enter your message"></textarea>
                    </div>
                    <div class="input-box">
                        <input type="checkbox" class="check-box"> <span class="check-box-label"><p>Check this for latest updates.!!</p></span>
                    </div>
                    <div class="button">
                        <input type="button" value="Send Now">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>