<!doctype html>

<section>
    <div class="container-box text-center"><h1>GALLERY</h1></div>

    <div class="grid image-grid">
        
        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200" *ngFor="let img of galleryImgs">
            <div class="tile" *ngIf="img.isActive">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img1" src="{{img.imgUrl}}" alt="{{img.name}}" width="200px">
                </div>
            </div>
        </div>

    </div>
</section>