<!doctype html>

<section>


    <div class="container-box text-center">
        <h1>
            GALLERY
        </h1>
    </div>

    <div class="grid image-grid">

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img1" src="assets/img/Shooting photos/1.jpg" alt="Image" width="200px">
                </div>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img2" src="assets/img/Shooting photos/2.jpg" alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img3" src="assets/img/Shooting photos/3.jpg" alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <a class="tile-link" href="#">
                    <img class="tile-img tile-img4" src="assets/img/Shooting photos/4.jpg" alt="Image">
                </a>
            </div>
        </div>

        <div class="grid-block">
            <div class="tile">
                <a class="tile-link" href="#">
                    <img class="tile-img tile-img5" src="assets/img/Shooting photos/5.jpg" alt="Image">
                </a>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <a class="tile-link" href="#">
                    <img class="tile-img tile-img6" src="assets/img/Shooting photos/6.jpg" alt="Image">
                </a>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img7 img-fluid" src="assets/img/Shooting photos/7.jpg" alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img8 img-fluid" src="assets/img/Shooting photos/8.jpg" alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img9 img-fluid" src="assets/img/Shooting photos/9.jpg" alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img10" src="assets/img/Shooting photos/10.jpg" alt="Image">
                </div>
            </div>
        </div>

    </div>


    <div class="grid image-grid-2">

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img1 img-fluid" src="assets/img/Shooting photos/11.jpg" alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img2 img-fluid" src="assets/img/Shooting photos/12.jpg" alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img3 img-fluid" src="assets/img/Shooting photos/13.jpg" alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img4 img-fluid" src="assets/img/Shooting photos/14.jpg" alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img5 img-fluid" src="assets/img/Shooting photos/15.jpg" alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img6 img-fluid" src="assets/img/Shooting photos/16.jpg" alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img7 img-fluid" src="assets/img/Shooting photos/17.jpg" alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <div class="tile-link" href="#">
                    <img class="tile-img tile-img8 img-fluid" src="assets/img/Shooting photos/18.jpg" alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <a class="tile-link" href="#">
                    <img class="tile-img tile-img9 img-fluid" src="assets/img/Shooting photos/19.jpg" alt="Image">
                </a>
            </div>
        </div>

        <div class="grid-block" data-aos="fade-up" duration="2000" data-aos-offset="200">
            <div class="tile">
                <a class="tile-link" href="#">
                    <img class="tile-img tile-img10" src="assets/img/Shooting photos/20.jpg" alt="Image">
                </a>
            </div>
        </div>
    </div>
</section>