<!DOCTYPE html>
<div class="container-fluid">
    <div class="image">
        <img id="img1" src="assets/img/intro/Intro.png" class="img" alt="" width="100%">
    </div>
    <a class="btn btn-primary" href="https://www.facebook.com/namelessgroup2020" target="blank">
        Follow us
    </a>
    <a class="btn btn-danger" href="https://www.youtube.com/c/Nameless2020" target="blank">
        Subscribe
    </a>
</div>

<app-about></app-about>
<app-our-works></app-our-works>
<app-gallery></app-gallery>
<app-our-team></app-our-team>
<app-contact-us></app-contact-us>